<div class="skrolls-list">
	<h2>List of Skrolls</h2>
	<br/>
	<div class="options">
		Search: <input type="text" ng-model="query">
		Sort by: 
		<select ng-model="sortBy">
			<option value="name">Alphabetical</option>
			<option value="age">Date</option>
			<option value="mark">Rating</option>		
		</select>
	</div>
	<div class="list">
		<ul>
			<li ng-repeat="skroll in skrolls | filter:query | orderBy:sortBy">
				<a href="#/skrolls/{{skroll.skrollID}}">{{skroll.name}}</a>
			</li>
		</ul>
	</div>
</div>